{% load static %}
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>H&J - Agenda</title>
</head>

<body>

    <header>

        <section class="title-bar">
            <h1>Muziekschool H&J</h1>
            <p>Agenda</p>
        </section>

        <section class="menu-bar">
            <ul class="menu">
                <li><a href="https://tappollus.github.io/examenopdrachtnha/html/home.html">Home</a></li>
                <li><a href="https://tappollus.github.io/examenopdrachtnha/html/overons.html">Over ons</a></li>
                <li><a href="https://tappollus.github.io/examenopdrachtnha/html/tarieven.html">Tarieven</a></li>
                <li><a href="https://tappollus.github.io/examenopdrachtnha/html/contact.html">Contact</a></li>
                <li><a href="">Agenda</a></li>
                <li><a href="https://tappollus.github.io/examenopdrachtnha/html/blog.html">Blog</a></li>
                <li><a href="https://tappollus.github.io/examenopdrachtnha/react/build/index.html">Motivatie</a></li>
            </ul>
        </section>

    </header>

    <section class="container">
        <section class="side">
            <h2>Onze evenementen</h2>
            <p>Met regelmaat organiseren wij uitvoeringen en activiteiten op de muziekschool. Hier staat een overzicht
                van alle komende evenementen. Tot dan! </p>
        </section>


        <section class="main">
            {% block content %}
            {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.date }}
                </time>
                <p>Tijd: {{ post.event_start }} uur - {{ post.event_end }} uur </p>
                <p>Notitie: {{ post.note }}</p>
                <p>Kosten: {{ post.costs }}</p>
                <br>
            
            </article>
            {% endfor %}
            {% endblock %}
        </section>
    </section>


    <footer>
        <p>© Copyright 2023 Muziekschool H&J <br> (Dit is een oefenopdracht, alle informatie op deze website is fictief.)
        </p>
    </footer>

</body>

</html>